@import "tailwindcss" source(none);

@source "../views";

@plugin "daisyui" {
    themes: dark --default;
}

@plugin "daisyui/theme" {
    name: "black";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(19% 0 0);
    --color-base-300: oklch(22% 0 0);
    --color-base-content: oklch(87.609% 0 0);
    --color-primary: oklch(35% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(35% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(35% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(35% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(14% 0.005 285.823);
    --color-success: oklch(51.975% 0.176 142.495);
    --color-success-content: oklch(90.395% 0.035 142.495);
    --color-warning: oklch(96.798% 0.211 109.769);
    --color-warning-content: oklch(19.359% 0.042 109.769);
    --color-error: oklch(62.795% 0.257 29.233);
    --color-error-content: oklch(12.559% 0.051 29.233);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

/*noinspection CssUnknownTarget*/
@font-face {
    font-display: swap;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 100 900;
    src: url("assets/Nohemi.woff2") format("woff2");
}

@theme {
    --font-sans: "Nohemi", ui-sans-serif, system-ui, sans-serif;
    --font-display: "Nohemi", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
    font-family: var(--font-sans), sans-serif;
    font-optical-sizing: auto;
    text-rendering: geometricPrecision;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

.font-display {
    font-family: var(--font-display), sans-serif;
    font-variation-settings: "wght" 860;
    font-weight: 860;
}
